### 1.0 BUSINESS UNDERSTANDING

#### 1.1 Background

SyriaTel is one of the leading telecommunication companies in Syria. 
It provides a wide range of telecommunications services, including mobile and fixed-line telephony, internet services and data services.

Syriatel has been a key player in the Syrian telecommunications market, serving millions of customers across the country. The company has played a significant role in expanding and modernizing telecommunications infrastructure, contributing to the country's connectivity and economic development. 


The telecommunications company is interested in reducing how much money is lost because of customers who don't stick around very long.

#### 1.2 Problem Statement

In this competitive world, business is becoming highly saturated. Especially, the field of telecommunication faces complex challenges
due to a number of vibrant competitive service providers. Therefore, it has become very difficult for them to retain existing customers. Since the cost of
acquiring new customers is much higher than the cost of retaining the existing customers, it is the time for the telecom
industries to take necessary steps to retain the customers to
stabilize their market value.

#### 1.3 Objectives
1. To calculate the churn rate at SyriaTel, a telecommunications company.
2. To identify the factors that lead to churn and those that help in customer retention.
3. To identify the relationship between the predictor variables and churn and find if there are predictable patterns.

### 2.0 DATA UNDERSTANDING

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")

In [2]:

df=pd.read_csv(r"C:\Users\user\Desktop\Phase_3_project\customer_churn_dataset.csv")
df.head(5)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
# number of rows and columns in the dataframe

print("The number of rows in the SyriaTel dataframe is", df.shape[0])
print("The number of columns in the SyriaTel dataframe is", df.shape[1])

The number of rows in the SyriaTel dataframe is 3333
The number of columns in the SyriaTel dataframe is 21